<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="data source=192.168.1.2;initial catalog=MVCDB;uid=sa;password=valueType12#123;"/>
    <add name="cacheConn" connectionString="data source=192.168.1.9;initial catalog=SQLCacheDB;uid=sa;password=dnt.dkill.net1;"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <!--数据库缓存依赖配置 Start-->
    <caching>
      <!--pollTime，毫秒为单位，意识是每隔10秒检测下数据库，检测表是否有发生变化-->
      <sqlCacheDependency pollTime="10000">
        <databases>
          <add name="MySQLCacheDB" connectionStringName="cacheConn"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <!--数据库缓存依赖配置 End-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>