@{
    ViewBag.Title = "Index";
    ViewBag.Keywords = "a,b,c";
    ViewBag.Description = "abcdefghi...";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

我是一个Body
<br />
常规写法：（RenderPartial 比 Partial 性能高点）
<div>
    @{Html.Partial("Part");}
</div>
<br /><hr />
<div>
    @{Html.RenderPartial("Part");}
</div>
<br /><hr />
<div>
    @{Html.RenderAction("Part", "Lay");}
    @*@{Html.RenderAction("Bundle", "Home");}*@
</div>
<br /><hr />
异步写法：（MVC6是支持RenderAction的）
@*@{Html.RenderAction("PartAsync", "Lay");}*@
<br /><hr />
<div id="partTwo"></div>
@section Scripts{ 
<script type="text/javascript">
    $('#partTwo').load('@Url.Action("PartAsync", "Lay")');
</script>
}
