USE [TestTable]
GO
/****** Object:  Table [dbo].[NoteInfo]    Script Date: 2016/6/14 17:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NoteInfo](
	[NId] [int] IDENTITY(1,1) NOT NULL,
	[NTitle] [nvarchar](100) NOT NULL,
	[NContent] [nvarchar](max) NOT NULL,
	[NAuthor] [nvarchar](50) NOT NULL,
	[NHitCount] [int] NOT NULL,
	[NCreateTime] [datetime] NOT NULL,
	[NUpdateTime] [datetime] NOT NULL,
	[NDisplayPic] [varchar](200) NOT NULL,
	[NPush] [bit] NOT NULL,
	[NSeoId] [int] NOT NULL,
	[NDataStatus] [smallint] NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[NId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[NoteInfoView]    Script Date: 2016/6/14 17:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[NoteInfoView]
as
select row_number() over(order by NCreateTime desc) As ID,NId,NTitle,NAuthor,NHitCount,NPush,NDataStatus,NContent from NoteInfo

GO
SET IDENTITY_INSERT [dbo].[NoteInfo] ON 

INSERT [dbo].[NoteInfo] ([NId], [NTitle], [NContent], [NAuthor], [NHitCount], [NCreateTime], [NUpdateTime], [NDisplayPic], [NPush], [NSeoId], [NDataStatus]) VALUES (1, N'标题2', N'内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。', N'pawchina', 99, CAST(N'2015-01-02T00:00:00.000' AS DateTime), CAST(N'2015-02-01T00:00:00.000' AS DateTime), N'/images/pic10.jpg', 1, 1, 1)
INSERT [dbo].[NoteInfo] ([NId], [NTitle], [NContent], [NAuthor], [NHitCount], [NCreateTime], [NUpdateTime], [NDisplayPic], [NPush], [NSeoId], [NDataStatus]) VALUES (2, N'标题1', N'内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。', N'pawchina', 99, CAST(N'2015-01-02T00:00:00.000' AS DateTime), CAST(N'2015-02-01T00:00:00.000' AS DateTime), N'/images/pic10.jpg', 1, 1, 1)
INSERT [dbo].[NoteInfo] ([NId], [NTitle], [NContent], [NAuthor], [NHitCount], [NCreateTime], [NUpdateTime], [NDisplayPic], [NPush], [NSeoId], [NDataStatus]) VALUES (3, N'标题2', N'内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。内容简介。。。', N'pawchina', 99, CAST(N'2015-01-02T00:00:00.000' AS DateTime), CAST(N'2015-02-01T00:00:00.000' AS DateTime), N'/images/pic10.jpg', 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[NoteInfo] OFF
