<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmailForm" value="php_tester@163.com"/>
    <add key="EmailPass" value="php1234"/>
    <add key="EmailSmtp" value="smtp.163.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
