<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmailForm" value="techblog@yeah.net"/>
    <add key="EmailPass" value="2436chao"/>
    <add key="EmailSmtp" value="smtp.yeah.net"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime executionTimeout="240" maxRequestLength="10485760" targetFramework="4.5.1" />
  </system.web>
</configuration>