<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmailForm" value="php_tester@163.com"/>
    <add key="EmailPass" value="php1234"/>
    <add key="EmailSmtp" value="smtp.163.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime executionTimeout="240" maxRequestLength="10485760" targetFramework="4.5.1" />
  </system.web>
</configuration>