<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmailForm" value="techblog@yeah.net"/>
    <add key="EmailPass" value="2436chao"/>
    <add key="EmailSmtp" value="smtp.yeah.net"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
