<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="server=.;database=DNTValues;user id=sa;password=dnt.dkill.net1"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <!--经典模式-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <!--<httpHandlers>
      <add path="*.jsp" type="CSharpStudy.ASHX.KDiv" verb="GET,POST"/>
    </httpHandlers>-->
  </system.web>
  
  <!--集成模式-->
  <system.webServer>
    <handlers>
      <!--name：唯一标识key，path：要截获URL路径的通配符，type：完整命名空间.类名，verb：请求类型（*代表所有）-->
      <add name="jsp" path="*.jsp" type="CSharpStudy.ASHX.KDiv" verb="*"/>
    </handlers>
  </system.webServer>
</configuration>