#main,aside,.container { border:2px solid red;}
.container{width: 100%;}
/*Article*/
article{padding:0 !important;position: absolute !important;top: 0;right: 0;bottom: 0;overflow-y:auto;}
header{margin-bottom:0 !important;}
/*top-nav*/
.navbar-top-links li {display: inline-block;}
.navbar-top-links li:last-child {margin-right: 40px;}
.navbar-top-links li a {padding: 20px 10px;min-height: 50px;}
.navbar-top-links .dropdown-menu li {display: block;}
.navbar-top-links .dropdown-menu li a {padding: 8px 20px;min-height: 0;}
.navbar-top-links .dropdown-menu li a div {white-space: normal;}
.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts {width: 310px;min-width: 0;}
.navbar-top-links .dropdown-messages {margin-left: 5px;}
.navbar-top-links .dropdown-tasks {margin-left: -59px;}
.navbar-top-links .dropdown-alerts {margin-left: -123px;}
.navbar-top-links .dropdown-user {right: 0;left: auto;}
.dropdown-messages-box img.img-circle {width: 50px;height: 50px;}
.navbar-right{margin-right: 0;}
/*Main*/
#main{height:auto;}
/*Menu*/
aside{position: absolute !important;top: 0;bottom: 0;overflow-y:auto;}
.sidebar {display: block;background: #292828;}
.content {display: block;overflow: hidden;width: auto;}
.sidebar-nav {border-bottom: 1px solid rgba(0, 0, 0, 0.3);background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));background-image: linear-gradient(to right, #333333 10px, #222222 10px);background-repeat: repeat-x;filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);}
.sidebar-nav ul {padding: 0;margin: 0;list-style: none;}
.sidebar-nav-header .dropdown-menu{margin-left: 15%;}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {outline: none;}
.sidebar-nav ul li, .sidebar-nav ul a {display: block;}
.sidebar-nav ul a {padding: 10px 20px;color: #aaa;border-top: 1px solid rgba(0, 0, 0, 0.3);box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {color: #fff;text-decoration: none;}
.sidebar-nav ul ul a {padding: 10px 30px;background-color: rgba(255, 255, 255, 0.1);}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {background-color: rgba(255, 255, 255, 0.2);}
.sidebar-nav-item {padding-left: 5px;}
.sidebar-nav-icon {padding-right: 5px;}
#rtlh3 small {transform: rotateY(180deg);display: inline-block;}
.sidebar-nav-header{padding: 33px 25px 20px 25px;text-align:center;background-color: #292828;}
.sidebar-nav-header ul a{border-top:none;text-shadow:none;color:black;}
.sidebar-nav-header ul a:hover{color:#fa8200;}
.block{display: block;}
/*Menu bug*/
.arrow{float:right;line-height:1.42857}
.fa.arrow:before{ content:"\f104" }
.active>a>.fa.arrow:before{content:"\f107"}

/*public*/
.lot-font12{font-size:12px;}
.lot-font13{font-size:13px;}
.lot-black{color: inherit;}
.lot-white {color:white;}
.lot-gray{color:#B7B1B1;}
.lot-p{text-indent:4px;}

/*mobil*/
@media screen and (max-width: 990px){
article,aside{position:relative !important;}
.col-sm-2{width:100%;}
.col-sm-10{width:100%;}
.sidebar-nav-header .dropdown-menu{margin-left: 38%;}
.navbar-top-links li:first-child{padding-left:2em;}
}
@media screen and (max-width: 590px) {
.navbar-top-links{float:right;}
.navbar-top-links li:first-child{display:none;}
}