<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!--邮件系列-->
    <add key="EmailForm" value="php_tester@163.com"/>
    <add key="EmailPass" value="php1234"/>
    <add key="EmailSmtp" value="smtp.163.com"/>
    
  </appSettings>
  
  <!--连接字符串-->
  <connectionStrings>
    <add name="SqlConnStr" connectionString="data source=.;database=TestTable;user id=sa;password=dnt.dkill.net1" />
  </connectionStrings>
  
</configuration>