<div>
    <h1><a href="@Url.Action("BindModelA","Model",new { Name="sb",Pass="bs"})" target="_blank">传统方式</a></h1>
    <h1><a href="@Url.Action("BindModelB","Model",new { Name="sb",Pass="bs"})" target="_blank">新的玩法</a></h1>
    <h1><a href="@Url.Action("BindModelC","Model",new { Name="sb",Pass="bs"})" target="_blank">再嗨皮点</a></h1>
</div>
<br /><hr /><br />
<h2><a href="@Url.Action("ValidateNote","Model")">12.模型详解--模型注解</a></h2>